
<div>
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.hidden_field :reset_password_token %>

                <h1>Altere sua senha</h1>

                <div>
                    <%= f.label :password %>
                    <br/>
                    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
                </div>
                <div>
                    <%= f.label :password_confirmation %>
                    <br/>
                    <%= f.password_field :password_confirmation, autocomplete: "current-password", class:"form-control" %>
                </div>

                <div>
                    <%= f.submit "Alterar Senha", class:"btn btn-default submit", style: "float: none; margin-left:0; width: 70%" %>
                </div>

                <div class="clearfix"></div>
                <%= render "users/shared/error_messages", resource: resource %>

                <div class="separator">
                    <p class="change_link">New to site?

                        <%= render "users/shared/links", class:"to_register" %>
                    </p>

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1>
                            <i class="fa fa-comment"></i>
                            Time To Answer!</h1>
                        <p>©2022 All Rights Reserved. Time To Answer!. Privacy and Terms</p>
                    </div>
                </div>
            <% end %>
        </section>
    </div>

</div></div>
